<body>
	<form id="cv_form" action="" method="">
		<input type="text" name="text" value="">
		<br>
		<input type="file" name="attachment" value="">
		<br>
		<input type="submit" name="" value="fuck yeah">
	</form>
	<script>
		const formElement = document.querySelector("#cv_form");
		formElement.addEventListener("submit", (ev) => {
			ev.preventDefault()
			const request = new XMLHttpRequest()
			request.open("POST", "http://localhost:8080/api/cv")
			var fd = new FormData(formElement)
			request.send(fd)
		})
	</script>
</body>
